<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DanbooruDownloader3.Properties.Settings" allowExeDefinition="MachineToLocalUser" requirePermission="false" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <DanbooruDownloader3.Properties.Settings>
      <setting name="ProxyAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadPreview" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveQuery" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppendList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLoadList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoLoadNextPage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoFocusCurrent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="filenameFormat" serializeAs="String">
        <value>%provider%\%rating% - %id% - %tags%</value>
      </setting>
      <setting name="overwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="filenameLengthLimit" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="retry" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PadUserAgent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="UseProxyLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="batchAbortOnError" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseColoredTag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ColorGeneral" serializeAs="String">
        <value>ControlText</value>
      </setting>
      <setting name="ColorArtist" serializeAs="String">
        <value>HotPink</value>
      </setting>
      <setting name="ColorCopyright" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="ColorCharacter" serializeAs="String">
        <value>Purple</value>
      </setting>
      <setting name="ColorCircle" serializeAs="String">
        <value>OrangeRed</value>
      </setting>
      <setting name="ColorFaults" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="TagAutoComplete" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmptyTagReplacement" serializeAs="String">
        <value />
      </setting>
      <setting name="TagBlacklist" serializeAs="String">
        <value />
      </setting>
      <setting name="ColorBlacklistedTag" serializeAs="String">
        <value>LightGray</value>
      </setting>
      <setting name="RenameJpeg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableLogging" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ImageSize" serializeAs="String">
        <value>Full</value>
      </setting>
      <setting name="AutoCompleteLimit" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="SaveFolderWhenExit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TagGroupingLimit" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TagCopyrigthGrouping" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TagCharacterGrouping" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TagCircleGrouping" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TagFaultsGrouping" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TagIgnored" serializeAs="String">
        <value />
      </setting>
      <setting name="IgnoreTagsUseRegex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BlacklistTagsUseRegex" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="delay" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="UserAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/27.0.1453.116 Safari/537.36</value>
      </setting>
      <setting name="enableCookie" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ColorUnknown" serializeAs="String">
        <value>ControlDarkDark</value>
      </setting>
      <setting name="UseGlobalProviderTags" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AcceptLanguage" serializeAs="String">
        <value>en-GB,en-US;q=0.8,en;q=0.6</value>
      </setting>
      <setting name="EnableCompression" serializeAs="String">
        <value>True</value>
      </setting>
    </DanbooruDownloader3.Properties.Settings>
  </userSettings>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="log-%property{Date}.txt" />
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message%newline%exception"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0" />
  </startup>
</configuration>