<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DanbooruDownloader3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DanbooruDownloader3.Properties.Settings>
            <setting name="ProxyAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadPreview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveQuery" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppendList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoadList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoadNextPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (X11; U; Unix i686; en-US; rv:1.9.0.1) Gecko/2008071615 Fedora/3.0.1-1.fc9 Firefox/3.0.1</value>
            </setting>
            <setting name="AutoFocusCurrent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="filenameFormat" serializeAs="String">
                <value>%provider%\%rating% - %id% - %tags%</value>
            </setting>
            <setting name="overwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filenameLengthLimit" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="retry" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PadUserAgent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="UseProxyLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="batchAbortOnError" serializeAs="String">
                <value>False</value>
            </setting>
        </DanbooruDownloader3.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
